body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(30, 30, 29);
    min-width: 100vh;
    display:flex;
    flex-direction: column;
    background-image:url('https://wallpapercave.com/wp/4F8Jdvd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 3px;
    border-color: rgb(231, 89, 12) solid;
    background-color: rgb(12, 12, 12);
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.produto-nome{
    text-align: center;
    font-size: 0.4rem;
    color:#0a0a0a;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carousel-container{
    border: 2px rgb(238, 225, 225) solid;
}



.produto-imagem img{
    width: 100%;
    height: auto;
}

.card-container{
    padding: 20px;
    background: white;
    text-align: center;
    flex-wrap: wrap;
    border: rgb(123, 123, 161) 2px solid;
}


.btao{
    border: none;
    background-color: beige;
    font-size: large;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.figures-Home{
    text-align: center;
    color: rgb(255, 255, 255);
    
}




.btao:hover{
    font-size: 2rem;
    color: red;
}








.container-Produtos{
    display: flex;
    flex-wrap: wrap;
}



.card{
    width: 250px;

}



.containerTudo {
    text-align: center;
}

.container-Produtos-Home{
    text-align: center;
    display: flex;
    margin:10px;
}



.containerLinks{
    font-size: large;
}


.paginaInicial{
    text-align: center;
    padding: 20px;
    background-color: #0a0a0a;
    border: 5px rgb(231, 89, 12) solid;;
    border-radius: 5px;
}




h1 {
    color: #fffdfd;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}




#Top {
    margin-top: 50px;
    width: 500px;
    height: 100px;
    text-align: left;
    color: #fff;
    background-color: #2f0a4f;
    border-radius: 25px 25px 0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PaginaInicial{
    text-align: center;
 color: #feffee;

}

.produtos-com-desconto{
    text-align: center;
    color: #fff;
}



.produtosDisponiveis{
    text-align: center;
    color: white;


}

.cabecario{
    background-color: rgb(0, 0, 0);
    border: 5px rgb(231, 89, 12) solid;
color:#fff;
margin-left: -47px;
margin-top: -20px;
margin-right: -5px;

}


.rodape{
background-color: rgb(0, 0, 0);
border: 5px rgb(231, 89, 12) solid;
color:#fff;
margin-left: -5px;
margin-top: 180px;
margin-right: -5px;

}





